BppLib.Core/bin
BppLib.Core/obj
BppLib.BppParser/bin
BppLib.BppParser/obj
BppLib.CixParser/bin
BppLib.CixParser/obj
BppLib.UnitTests/BppLib.Core.Tests/bin
BppLib.UnitTests/BppLib.Core.Tests/obj
BppLib.Examples/BppLib.Core.Examples/bin
BppLib.Examples/BppLib.Core.Examples/obj
BppLib.Examples/BppLib.CID.Examples/bin
BppLib.Examples/BppLib.CID.Examples/obj
BppLib.Examples/Fu360PostProcessorExample/bin
BppLib.Examples/Fu360PostProcessorExample/obj
BppLib.CIDFile/bin
BppLib.CIDFile/obj
BppLib.UnitTests/BppLib.CIDFile.UnitTests/bin
BppLib.UnitTests/BppLib.CIDFile.UnitTests/obj
BppLib.Fusion360PostProcessor/bin
BppLib.Fusion360PostProcessor/obj
BppLib.UnitTests/Fusion360PostProcessor.UnitTests/bin
BppLib.UnitTests/Fusion360PostProcessor.UnitTests/obj
BppLib.UnitTests/BppParser.UnitTests/bin
BppLib.UnitTests/BppParser.UnitTests/obj
BppLib.UnitTests/CixParser.UnitTests/bin
BppLib.UnitTests/CixParser.UnitTests/obj
BppLib.Examples/BppLib.BppParser.Examples/Rotate90Deg/bin
BppLib.Examples/BppLib.BppParser.Examples/Rotate90Deg/obj
BppLib.Examples/BppLib.BppParser.Examples/Rotate90Deg/*.bpp
BppLib.Examples/BppLib.CixParser.Examples/bin
BppLib.Examples/BppLib.CixParser.Examples/obj
BppLib.Examples/BppLib.CixParser.Examples/*.bpp
Other
Auxiliaries