BppLib.Core/bin
BppLib.Core/obj
BppLib.Core.Tests/bin
BppLib.Core.Tests/obj
BppLib.Core.Examples/bin
BppLib.Core.Examples/obj
BppLib.CIDFile/bin
BppLib.CIDFile/obj
BppLib.UnitTests/BppLib.CIDFile.UnitTests/bin
BppLib.UnitTests/BppLib.CIDFile.UnitTests/obj
Other
Auxiliaries